[color "diff"]
	whitespace = red reverse
[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f
[diff]
	tool = gvimdiff
[merge]
	tool = gvimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[difftool "gvimdiff"]
    cmd = gvimdiff -f -d \"$LOCAL\" \"$REMOTE\"
[core]
	editor = gvim
[user]
	name = Feng Shao
	email = sevenever@gmail.com
[push]
	default = simple
[credential]
	helper = cache
