[color "diff"]
	whitespace = red reverse
[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f
[diff]
	tool = mvimdiff
[merge]
	tool = gvimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[difftool "mvimdiff"]
    cmd = /Users/shaofeng/Applications/MacVim.app/Contents/bin/mvimdiff -f -d \"$LOCAL\" \"$REMOTE\"
[core]
	editor = /Users/shaofeng/Applications/MacVim.app/Contents/bin/mvim -f
[user]
	name = Feng Shao
	email = feng.shao@acoustic.com
[includeIf "gitdir:~/mygithub/"]
	path = ~/mygithub/.gitconfig
